<a href="https://colab.research.google.com/github/rafitboo/Introduction-to-python/blob/main/Lab%20Assignmennts/lab2(conditional).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK1
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
print("Sum = "+ str(num1+num2))
print("Product = "+ str(num1*num2))
print("Difference = "+ str(num1-num2))

Enter first number : 30
Enter second number : 2
Sum = 32
Product = 60
Difference = 28

In [ ]:
#TASK2
radius=float(input("please input the radius of the circle: "))
import math
math.pi
area= math.pi * radius**2
circumference= 2* math.pi * radius
print("Area is "+ str(area))
print("Circumference is "+ str(circumference))

please input the radius of the circle: 3.5
Area is 38.48451000647496
Circumference is 21.991148575128552

In [ ]:
#TASK3
first=int(input("Enter first number : "))
second=int(input("Enter second Number : "))
if first>second:
  print("First is greater.")
elif second>first:
  print("Second is greater.")
else :
  print("The numbers are  equal.")

Enter first number : 15
Enter second Number : 30
second is greater

In [ ]:
#TASK4
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
if num1>num2 :
  print(num1-num2)
elif num2>num1 :
  print(num2-num1)
elif num1==num2 :
  print(0)

Enter first number : 5
Enter second number : 5
0

In [ ]:
#TASK5
num=int(input("Please enter a number : "))
if num%2==0 :
  print("The number is even")
elif num%2!=0 :
  print("The number is odd")

Please enter a number : -44
The number is even

In [ ]:
#TASK6
num=int(input("Please enter a number : "))
if num%2==0 or num%5==0 :
  print(num)
else :
  print("Not a multiple of 2 OR 5")

Please enter a number : 7
Not a multiple of 2 OR 5

In [ ]:
#TASK7
num=int(input("Please enter a number : "))
if num%2==0 and num%5==0 :
  print("Multiple of 2 and 5 both")
elif num%2==0 or num%5==0 :
  print(num)
else :
  print("Not a multiple we want")

Please enter a number : 6
6

In [ ]:
#TASK8
num=int(input("Please enter a number : "))
if  num%10==0 :
  print(num)
else:
  print("Not multiple of 2 and 5 both")

Please enter a number : 6
Not multiple of 2 and 5 both

In [ ]:
#TASK9
sec=int(input("Please enter seconds : "))
hrs=sec//3600
remaining=sec%3600
mins=remaining//60
secs=remaining%60
print("Hours : "+ str(hrs)+ " Minutes : " + str(mins)  + " Seconds : "+ str(secs))

Please enter seconds : 500
Hours : 0 Minutes : 8 Seconds : 20

In [ ]:
#TASK10
hrs=int(input("Hours worked : "))
if 0<=hrs<=168 :
  if hrs<=40 :
    print(hrs*200)
  if hrs>40 :
    print(8000 + ((hrs-40) * 300))
if hrs<0 :
  print("Hour cannot be negative")
if hrs>168 :
  print("Impossible to work more than 168 hours weekly")

Hours worked : 50
11000

In [ ]:
#TASK11
s=int(input("Enter a number : "))
if s < 100 :
  print(3000 - 125*s**2)
if s >= 100 :
  print(12000/(4+(s**2)/14900))

Enter a number : 120
2416.2162162162163

In [ ]:
#TASK12
hour=int(input("What time is it(hours)? "))
if 0<=hour<=3 or 21<=hour<=23 or 7<=hour<=11 or 14<=hour<=15 or hour==18 :
  print("Patience is a virtue")
elif 4<=hour<=6 :
  print("Breakfast")
elif 12<=hour<=13 :
  print("Lunch")
elif 16<=hour<=17 :
  print("Snacks")
elif 19<=hour<=20 :
  print("Dinner")
else :
  print("Wrong time")

What time is it(hours)? 56
Wrong time

In [ ]:
#TASK13
num=int(input("Please enter your marks : "))
if 0<=num<=100 :
  if num>=90:
    print("A")
  elif 80<=num<=89 :
    print("B")
  elif 70<=num<=79 :
    print("C")
  elif 60<=num<=69 :
    print("D")
  elif 50<=num<=59 :
    print("E")
  elif num<50 :
    print("F")
else :
  print("Please enter valid marks.")

Please enter your marks : 95
A

In [ ]:
#TASK14
distance=int(input("Enter the distance (in meters) : "))
time=int(input("Enter the time (in seconds) : "))
velo=(distance/1000) / (time/3600)
if distance>=0 and time>=0 :
  print(str(velo) + " km/h")
  if 0<velo<60 :
    print("Too slow. Needs more changes.")
  if 60<=velo<=90 :
   print("Velocity is okay. The car is ready!")
  if velo>90 :
   print("Too fast. Only a few changes should suffice")
else :
  print("please input valid numbers.")

Enter the distance (in meters) : 25400
Enter the time (in seconds) : 360
253.99999999999997 km/h
Too fast. Only a few changes should suffice

In [ ]:
#TASK15
cgpa=float(input("what is your CGPA? "))
cred=int(input("How many credits have you completed? "))
if cred>=30:
  if 3.80<=cgpa<=4.00:
    if 3.80<=cgpa<=3.89:
      print("The student is eligible for a waiver of 25 percent.")
    if 3.90<=cgpa<=3.94:
      print("The student is eligible for a waiver of 50 percent.")
    if 3.95<=cgpa<=3.99:
      print("The student is eligible for a waiver of 75 percent.")
    if cgpa==4.00:
      print("The student is eligible for a waiver of 100 percent")
if cred<30 or cgpa<3.80 :
  print("The student is not eligible for a waiver.")

what is your CGPA? 3.7
How many credits have you completed? 38
The student is not eligible for a waiver.

In [ ]:
#TASK16
p=5
q=6
r=9
sum=0
if p<12 :
  print(r+2)
else :
  print(r+p)
if q>20 :
  print(r+19)
elif q<=6 :
  print(q+3)
else :
  print(p+q+r)
if r>15:
  print(r)
elif r==0:
  print(p+q)
else :
  print(p)
if sum!=0:
  print(3)
else:
  print(sum+32)
if p>0 and r<10:
  print(p+r)
else:
  print(p-r)

11
9
5
32
14

In [ ]:
#TASK17
var1=var2=var3=var4=var5=var6=var7=var8=var9=var10=False
result1=result2=result3=result4=result5=result6=result7=result8=result9=result10=False
var1=4>3-1
var2=var1 and False
var3=True
var4=False
var5=True
var6=var3 and False
result1=(var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

In [ ]:
#TASK18
var1=var2=var3=var4=var5=var6=var7=var8=var9=var10=False
result1=result2=result3=result4=result5=result6=result7=result8=result9=result10=False
var1=((not True) or True) and False
var2=var1 and False
var3=True and not False
var4=False
var5=True
var6=var3 and False
result1=(var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2=(var1 or var2) or (result1 and False)
result3=(var1 and result1) or result2 or var5
result4=(var1 or var2) or ((var3 and var1) and False)
result5=(var1 and var2) and (result3 or var1)
result6=((var3 or (not var2)) and (result5)) or True
result7=(var4 and result1) and ((result1 and False) or True)
result8=((var1 and result3) and ((not var5) or var6)) and True
result9=((result2 and var2) or ((not result7) and var1)) and not False
result10=not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
#TASK19
var1=var2=var3=var4=var5=var6=var7=var8=var9=var10=False
result1=result2=result3=result4=result5=result6=result7=result8=result9=result10=False
var1=(not False or False) and True
var2=var1 and True
var3=False and not True
var4=True
var5=False
var6=var3 and True
result1=(var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2=(var1 or var2) or (result1 and False)
result3=(var1 and result1) or result2 or var5
result4=(var1 or var2) or ((var3 and var1) and False)
result5=(var1 and var2) and (result3 or var1)
result6=((var3 or not var2) and (result5)) or True
result7=(var4 and result1) and ((result1 and False) or True)
result8=((var1 and result3) and (not var5 or var6)) and True
result9=((result2 and var2) or (not result7 and var1)) and not False
result10=not (var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False

In [ ]:
#TASK20
num=int(input("Enter a number : "))
if num%2!=0 and num%5!=0 :
  print(num)
else:
  print("NO")

Enter a number : 3
3

In [ ]:
#TASK21
num=int(input("Enter a number :  "))
if num%2!=0 or num%5!=0 :
  print(num)
else :
  print("NO")

Enter a number :  20
NO

In [ ]:
#TASK22
num1=int(input("Enter canvas quantity : "))
num2=int(input("Enter paint tube quantity : "))
total=int((num1*120)+(num2*75))
if 0<=total<=299 :
  print("Previous total : "+str(total))
  print("new total after discount : "+str(total))
if 300<=total<=499 :
  print("Previous total : "+str(total))
  ntl=int(total-10)
  print("new total after discount : "+str(ntl))
if 500<=total<=749 :
  print("Previous total : "+str(total))
  ntl=int(total-20)
  print("new total after discount : "+str(ntl))
if 750<=total<=999 :
  print("Previous total : "+str(total))
  ntl=int(total-50)
  print("new total after discount : "+str(ntl))
if total>=1000 :
  print("Previous total : "+str(total))
  ntl=int(total-150)
  print("new total after discount : "+str(ntl))

Enter canvas quantity : 0
Enter paint tube quantity : 3
Previous total : 225
new total after discount : 225

In [ ]:
#TASK23
temp=int(input("Enter temperature(in fahrenheit : "))
temp=float((temp-32)*0.56)
print(temp,"degrees c")
if temp<20 :
  print("Winter")
if 20<=temp<=25 :
  print("Autumn")
if 25<temp<30 :
  print("spring")
if temp>=30 :
  print("Summer")

Enter temperature(in fahrenheit : 76
24.64 degrees c
Autumn