<a href="https://colab.research.google.com/github/rafitboo/Introduction-to-python/blob/main/Lab%20Assignmennts/lab6(tuple%2C_dictionary).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK-1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#TASK-2
var=input()
var=var[1:len(var)-1:]
lst=var.split(", ")
lst=lst[2:len(lst)-2:]
for i in range(len(lst)):
  lst[i]=int(lst[i])
print(tuple(lst))

(-10, 20, 25, 30, 40)
(25,)

In [ ]:
#TASK-3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is : "+str(len(book_info)))
for i in range(len(book_info)):
  print(book_info[i])

Size of the tuple is : 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#TASK-4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in range(len(book_info)):
  print(str(book_info[i][1])+" won the '"+str(book_info[i][0])+"' category with "+str(book_info[i][2])+" votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#TASK-4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in range(len(book_info)):
  print("{} won the '{}' category with {} votes".format(book_info[i][1],book_info[i][0],book_info[i][2]))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#TASK-4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in range(len(book_info)):
  x,y,z=book_info[i]
  print("{} won the '{}' category with {} votes".format(y,x,z))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#TASK-5
var=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
num=int(input("Enter a number : "))
sum=0
for i in range(len(var)):
  if var[i]==num:
    sum+=1
print(str(num)+ " appears "+str(sum)+" times in the tuple")
print("{} appears {} times in the tuple".format(num,sum))

Enter a number : 10
10 appears 3 times in the tuple
10 appears 3 times in the tuple

In [ ]:
#TASK-6
var=(10, 20, 30, 40, 50, 60)
var=list(var)
tup=[]
for i in range(len(var)-1,-1,-1):
  tup.append(var[i])
tup=tuple(tup)
print(tup)

(60, 50, 40, 30, 20, 10)

In [ ]:
#TASK-7
dict1={'A':90, 'B': 0}
dict2={'Ginie':18, 'Luna': 14}
dict3={}
dict3.update(dict1.items())
dict3.update(dict2.items())
print(dict3)

{'A': 90, 'B': 0, 'Ginie': 18, 'Luna': 14}

In [ ]:
#TASK-8
num=int(input("How many items ? "))
dic={}
for i in range(num):
  key=input("Enter key : ")
  value=int(input("Enter value :"))
  dic.update({key:value})
sum=0
for i in dic.values():
  sum+=i
avg=sum//num
print("Average is {}.".format(avg))

How many items ? 3
Enter key : jon
Enter value :100
Enter key : dan
Enter value :100
Enter key : rob
Enter value :100
Average is 100.

In [ ]:
#task-9
marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num=int(input("Enter a number : "))
dic={}
for k,v in marks.items():
  if v>=num:
    dic.update({k:v})
print(dic)

Ente a number : 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#TASK-10
var={'sci fi': 50, 'mystery': 20, 'horror': 14, 'young_adult': 2, 'adventure':9}
lst1=[]
for i in var.values():
  lst1.append(i)
for i in range(len(lst1)):
  if i==0:
    mx=lst1[i]
  if lst1[i]>mx:
    mx=lst1[i]
for k,v in var.items():
  if v==mx:
    print("The highest selling book genre is '"+str(k)+"' and the number of books sold are "+str(v)+".")

The highest selling book genre is 'sci fi' and the number of books sold are 50.

In [ ]:
var={'sci fi': 50, 'mystery': 20, 'horror': 14, 'young_adult': 2, 'adventure':9}
lst=[]
for i in var.values():
  lst.append(i)
for i in range(len(lst)):
  if i==0:
    mx=lst[i]
  if lst[i]>mx:
    mx=lst[i]
for k,v in var.items():
  if v==mx:
    print(k,v )

sci fi 50

In [ ]:
#TASK-11
var=input()
var=var[1:len(var)-1:]
var=var.lower()
keys=[]
for i in range(len(var)):
  if var[i]==chr(32):
    continue
  if var[i] not in keys:
    keys.append(var[i])
values=[]
count=0
for i in keys:
  for j in var:
    if i==j:
      count+=1
  values.append(count)
  count=0
dic={}
for i in range(len(keys)):
  dic.update({keys[i]:values[i]})
print(dic)

"Python programming is fun"
['p', 'y', 't', 'h', 'o', 'n', 'r', 'g', 'a', 'm', 'i', 's', 'f', 'u']
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#TASK-11
var=input()
var=var[1:len(var)-1:]
var=var.lower()
var1=""
for i in range(len(var)):
  if var[i]==" ":
    continue
  else:
    var1+=var[i]
#print(var1)
dic={}
for i in var1:
  if i in dic.keys():
    dic[i]+=1
  else:
    dic[i]=1
print(dic)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#TASK-12
dict1 ={'A': [1, 2, 3, 4], 'b': ['1', '2'], "c": [5, 6, 7]}
count=0
for v1 in dict1.values():
  for v2 in v1:
    count+=1
print(count)

9

In [ ]:
#TASK-13
lst=[("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict={}
for k,v in lst:
  if k in dict1:
    dict1[k].append(v)
  else:
    dict1[k]=[v]
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#TASK-13
lst= [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1={}
for k,v in lst:
  if k in dict1:
    dict1[k].append(v)
  else:
    dict1[k]=[v]
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#even
print(-7+4-(8+22%6)/3)

-7.0

In [ ]:
#odd
print(15+3-(6-(7.33333333333333334%8))*3)

22.0

In [ ]:
#TASK-14
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i]+ j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
#TASK-15
var=[(2, 3), (4, 5), (6, 7), (2, 8)]
lst=[]
for i in var:
  x,y=i
  mul=x*y
  lst.append(mul)
print(lst)

[6, 20, 42, 16]

In [ ]:
#TASK-16
tup=([1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
tup=list(tup)
lst=[]
var=input()
for i in tup:
  lst.append(i[0:2])
for i in range(len(lst)):
  lst[i].append(var)
print(tuple(lst))

5
([1, 2, '5'], [4, 5, '5'], [7, 8, '5'], [10, 11, '5'])

In [ ]:
#TASK-17
dic={'c1':'Red','c2':'Green','c3':None,'d4':'Blue','a5':None}
dict1={}
for k,v in dic.items():
  if v!=None :
    dict1.update({k:v})
print(dict1)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#TASK-18
dict1={'a':6,'b':7,'c':9,'d':8,'e':11,'f':12,'g':13}
num=input()
num=num.split(",")
x=int(num[0])
y=int(num[1])
dict2={}
for k,v in dict1.items():
  if x<=v<y:
    dict2.update({k:v})
print(dict2)

6,10
{'a': 6, 'b': 7, 'c': 9, 'd': 8}

In [ ]:
#TASK-19
lst=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
dict1={}
for elem in lst:
  for i in elem:

In [ ]:
#TASK-20
inp1=input()
inp2=input()
lst1=[]
lst2=[]
for i in inp1:
  if i==".":
    continue
  else:
    lst1.append(i)
print(lst1)

I love Programming. Python is love.
2
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'l', 'o', 'v', 'e']

#Practice quiz-3

In [ ]:
#quiz-3
tup1=(10,12,15,19,13)
lst1=['rafit','raihan','akib','mimu','biplob']
out={}
for i in range(len(tup1)):
  out.update({tup1[i]:lst1[i]})
print(out)
lst=[]
for k,v in out.items():
  if k%2==0:
    lst.append(v)
print(lst)

{10: 'rafit', 12: 'raihan', 15: 'akib', 19: 'mimu', 13: 'biplob'}
['rafit', 'raihan']

In [ ]:
#1
var=input("Enter a string : ")
dict1={}
for v in var:
  if ord(v)%5==0:
    dict1.update({v:ord(v)})
print(dict1)

Enter a string : today is tuesday
{'d': 100, 'i': 105, 's': 115}

In [ ]:
#2
lst1=[14,85,20,24,77,55]
lst2=['CE','CSE','EEE','CS','ENG','PHY']
dict1={}
for i in range(len(lst1)):
  dict1.update({lst1[i]:lst2[i]})
print(dict1)
lst3=[]
for val in dict1.values():
  sum=0
  for chr in val:
    sum+=ord(chr)
  lst3.append(sum)
print(tuple(lst3))

{14: 'CE', 85: 'CSE', 20: 'EEE', 24: 'CS', 77: 'ENG', 55: 'PHY'}
(136, 219, 207, 150, 218, 241)

In [ ]:
#3
lst1=[12,'cse',52.0,'hi','env']
lst2=[]
lst3=[]
for i in lst1:
  if type(i)==str:
    lst2.append(i)
  else:
    lst3.append(i)
print(lst2)
print(lst3)

['cse', 'hi', 'env']
[12, 52.0]