<a href="https://colab.research.google.com/github/rafitboo/Introduction-to-python/blob/main/Homework/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#HW-1
mul=1
count=0
while True:
  var=input()
  count+=1
  if count==1 and var=="stop" or var=="STOP" or var=="Stop":
    mul=0
    break
  elif var=="STOP" or var=="stop" or var=="Stop":
    break
  else:
    mul*=int(var)
print(mul)

5
5
5
stop
125

In [ ]:
#HW-2
for num in range(30,100,1) :
  if num%6==0:
     if num==96:
       print(num)
     else:
       print(num,end=", ")

30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96

In [ ]:
#HW-2.1
for num in range(30,100,6) :
  print(num, end=", ")

30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96,

In [ ]:
#HW-3
num=int(input("Enter a number : "))
for var in range(1,11,1) :
  result= num*var
  print(str(num)+"*"+str(var)+"="+str(result))

Enter a number : 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [ ]:
#HW-4
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = False
result6 = result7 = result8 = result9 = result10 = True
var1 = 3*3 > 6+1
var2 = var2 and False or False
var3 = True
var4 = False
var5 = False
var6 = var4 and False
result1 = (var1 and var3) or (4 ** 2 > 45)
result2 = (var1 or not var3) or (result5 and False) and (9==9.0)
result3 = ((var3 or result1) or result2) or ('9'==9) or True
result4 = not(var1 or not var2) or ((var5 and var1) and False)
result5 = not(var3 and var2) or not(result2 and var1)
result6 = ((var2 or var4) and not result6) or (9 is 9.0)
result7 = (var4 or result1) and not((result5 and False) or True)
result8 = ((var1 and result2) and (var6 or var3)) and True
result9 = ((result1 and var1) and not(result2 and var6)) and False
result10 = not(var3 and True) or False or True or True
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
True
True
False
True
False
False
True
False
True

In [ ]:
#HW-5
num=1
while num<=5:
  n=0
  while n<5:
    print(num,end=" ")
    n+=1
  print()
  num+=1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
#HW-6
sum=10
for var in range(5,11,1):
  print(var+sum)
  sum+=var

15
21
28
36
45
55

In [ ]:
#HW_6
sum=0
num1=int(input("M : "))
num2=int(input("N : "))
for var in range(0,num1,1):
  sum+=var
for var1 in range(num1,num2+1,1):
  print(var1+sum)
  sum+=var1

M : 5
N : 10
15
21
28
36
45
55

In [ ]:
#HW-7
count=[]
sum=0
while True :
  var=int(input("enter number : "))
  if var==0 :
    break
  sum+=var
  if var%3==0:
    count.append(var)
print("Sum of all the entered numbers : "+ str(sum) + ". ")
print("Numbers that are divisible by 3 : "+ str(len(count)))

enter number : 22
enter number : 7
enter number : -13
enter number : 16
enter number : 0
Sum of all the entered numbers : 32.
Numbers that are divisible by 3: 0

In [ ]:
print(-5%2)

1