<a href="https://colab.research.google.com/github/rafitboo/Introduction-to-python/blob/main/Homework/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK-1
list1=[1,2,3,4]
list2=[4,5,9,8]
sum=0
mul=1
for i in range(len(list1)):
  if list1[i]%2==0:
    sum+=list1[i]
  else:
    mul*=list1[i]
for i in range(len(list2)):
  if list2[i]%2==0:
    sum+=list2[i]
  else:
    mul*=list2[i]
sum1=0
for i in list1[::2]:
  sum1+=i
for i in list2[1::2]:
  sum1+=i
print(sum)
print(mul)
print(sum1)

18
135
17

In [ ]:
#TASK2
lst1=[1,2,1,4,5,2,6,7,8,6,8,9,4]
var=int(input("Enter a number : "))
lst1=lst1[::-1]
lst1.remove(var)
print(lst1[::-1])

Enter a number : 6
[1, 2, 1, 4, 5, 2, 6, 7, 8, 8, 9, 4]

In [ ]:
#TASK-3
var=input("Enter a string : ")
lst=[]
for i in range(len(var)):
  if var[i]=='E' or var[i]=='e':
    lst.append(i)
print(lst)

Enter a string : Bleh Bleh Bleck shEEp
[2, 7, 12, 18, 19]

In [ ]:
#TASK-4
lst=[2,7,12,17,18,88,58,7,89,78,74,55,33,57]
nlst1=[]
nlst2=[]
for i in lst[::2]:
  nlst1.append(i)
for i in lst[1::2]:
  nlst2.append(i)
flst=[]
for i in range(7):
  flst.append(int(nlst1[i])+int(nlst2[-(i+1)]))
print("New list one : "+ str(nlst1))
print("New list two : "+ str(nlst2))
print("The final list : "+ str(flst))

New list one : [2, 12, 18, 58, 89, 74, 33]
New list two : [7, 17, 88, 7, 78, 55, 57]
The final list : [59, 67, 96, 65, 177, 91, 40]

In [ ]:
#home-1
lst=[1,2,3,4.3,7,8,7,88,100]
num=input("Enter a number : ")
start=int(input("Enter starting index : "))
end=input("Enter ending index : ")
if end=="last":
  for i in range(start,len(lst),1):
    if lst[i]==float(num):
      print(i)
      break
else:
  for i in range(start,int(end),1):
    if lst[i]==float(num):
      print(i)
      break

Enter a number : 7
Enter starting index : 5
Enter ending index : last
6

In [ ]:
#home-2
lst=[1,2,4,6,78,6,12,10]
sum=0
for idx in range(len(lst)):
  sum+=lst[idx]
print(sum)

119

In [ ]:
#home-3
lst=[1,2,4,6,78,6,12,10]
for idx in range(len(lst)):
  if idx==0:
    mx=lst[0]
  if lst[idx]>mx:
    mx=lst[idx]
print(mx)

78

In [ ]:
#home-4
lst=[1,2,4,6,78,6,12,10]
for idx in range(len(lst)):
  if idx==0:
    mn=lst[0]
  if lst[idx]<mn:
    mn=lst[idx]
print(mn)

1