<a href="https://colab.research.google.com/github/rafitboo/Introduction-to-python/blob/main/Lab%20Assignmennts/lab5(list).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK-1
lst=[]
for i in range(5):
  num=int(input("Enter a number : "))
  lst.append(num)
  print("Numbers in the list: "+str(lst))

Enter a number : 1
Numbers in the list: [1]
Enter a number : 2
Numbers in the list: [1, 2]
Enter a number : 3
Numbers in the list: [1, 2, 3]
Enter a number : 4
Numbers in the list: [1, 2, 3, 4]
Enter a number : 5
Numbers in the list: [1, 2, 3, 4, 5]

In [ ]:
#TASK-2
var=input()
lst1=var.split(", ")
lst2=[]
for i in range(len(lst1)):
  elem=int(lst1[i])
  lst2.append(elem)
if len(lst2)>=4 :
  print(lst2[2:len(lst2)-2:])
else:
  print("Not possible")

1, 2, 3, 4, 5
[3]

In [ ]:
#TASK-3
lst=[]
for i in range(5):
  num=int(input())
  lst.append(num)
print("Printing values in reverse order: ")
for i in range(len(lst)-1,-1,-1):
  print(lst[i])

5
4
3
2
1
Printing values in reverse order:
1
2
3
4
5

In [ ]:
#TASK-4
var=input()
var=var[1:len(var)-1:]
lst1=var.split(", ")
lst2=[]
for i in range(len(lst1)):
  num=int(lst1[i])**2
  lst2.append(num)
print(lst2)

[1, 2, 3]
[1, 4, 9]

In [ ]:
 #TASK-5
var=["hey", "there", "", "what's", "", "up", "", "?"]
lst=[]
for i in range(len(var)):
  if var[i]!="":
    lst.append(var[i])
print("Original list : "+str(var))
print("Modified list : "+ str(lst))

Original list : ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list : ['hey', 'there', "what's", 'up', '?']

In [ ]:
#TASK-6
var=input()
lst1=var.split(", ")
lst2=[]
for i in range(len(lst1)):
  elem=int(lst1[i])
  lst2.append(elem)
print("My list : "+ str(lst2))
for i in range(len(lst2)):
  if i==0:
    mx=lst2[i]
    idx=i
  if lst2[i]>mx:
    mx=lst2[i]
    idx=i
print("Largest number in the list is "+str(mx)+"  which was found at index "+str(idx) )

100, 10, 20
My list : [100, 10, 20]
Largest number in the list is 100  which was found at index 0

In [ ]:
#TASK-7
lst1=input("List_one : ")
lst2=input("List_two : ")
lst1=lst1[1:len(lst1)-1:]
lst1=lst1.split(", ")
lst3=[]
for i in range(len(lst1)):
  elem=int(lst1[i])
  lst3.append(elem)
lst2=lst2[1:len(lst2)-1:]
lst2=lst2.split(", ")
lst4=[]
for i in range(len(lst2)):
  elem=int(lst2[i])
  lst4.append(elem)
lst5=[]
for i in range(len(lst3)-1):
  lst5.append(lst3[i])
for i in range(len(lst4)):
  lst5.append(lst4[i])
print(lst5)

List_one : [1, 4, 7, 5]
List_two : [6, 1, 3, 9]
[1, 4, 7, 6, 1, 3, 9]

In [ ]:
lst1=  [1, 4, 7, 5]
lst2=  [6, 1, 3, 9]
flst=[]
for i in range(len(lst1)-1):
  flst.append(lst1[i])
for i in range(len(lst2)):
  flst.append(lst2[i])
print(flst)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#TASK-8
lst1=input("List_one : ")
lst2=input("List_two : ")
lst3=[]
lst1=lst1[1:len(lst1)-1:]
lst1=lst1.split(", ")
for i in range(len(lst1)):
  elem=int(lst1[i])
  lst3.append(elem)
lst4=[]
lst2=lst2[1:len(lst2)-1:]
lst2=lst2.split(", ")
for i in range(len(lst2)):
  elem=int(lst2[i])
  lst4.append(elem)
lst5=[]
for i in range(len(lst3)):
  if lst3[i]%2==0:
    num=lst3[i]
    lst5.append(num)
for i in range(len(lst4)):
  if lst4[i]%2==0:
    num=lst4[i]
    lst5.append(num)
print(lst5)

List_one : [1, 2, 3, 4, 5, 6, 7, 8, 9]
List_two : [10, 11, 12, -13, -14, -15, -16]
[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#TASK-8
lst1=input("List_one : ")
lst2=input("List_two : ")
lst3=[]
lst1=lst1[1:len(lst1)-1:]
lst1=lst1.split(", ")
for i in lst1:
  lst3.append(int(i))
lst4=[]
lst2=lst2[1:len(lst2)-1:]
lst2=lst2.split(", ")
for i in lst2:
  lst4.append(int(i))
lst5=[]
for i in lst3:
  if i%2==0:
    lst5.append(i)
for i in lst4:
  if i%2==0:
    lst5.append(i)
print(lst5)

List_one : [1, 2, 3, 4, 5, 6, 7, 8, 9]
List_two : [10, 11, 12, -13, -14, -15, -16]
[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#TASk-8
lst1=[1, 2, 3, 4, 5, 6, 7, 8, 9]
lst2=[10, 11, 12, -13, -14, -15, -16]
lst3=[]
for i in lst1:
  if i%2==0:
    lst3.append(i)
for i in lst2:
  if i%2==0:
    lst3.append(i)
print(lst3)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#TASK-9
var=input()
lst1=[]
elem=""
for i in range(len(var)):
  if var[i]!=" ":
    elem+=(var[i])
  else:
    lst1.append(elem)
    elem=""
lst1.append(elem)
for i in range(len(lst1)):
  lst1[i]=int(lst1[i])
lst2=[]
for i in range(len(lst1)):
  if lst1[i]%2==1:
    lst2.append(lst1[i])
print("original list : "+ str(lst1))
print("Modified list : "+ str(lst2))

7 12 4 55 96 2 11 61 33 42
original list : [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list : [7, 55, 11, 61, 33]

In [ ]:
#TASK-10
var=input()
lst1=[]
elem=""
for i in range(len(var)):
  if var[i]!=",":
    elem+=var[i]
  else:
    lst1.append(elem)
    elem=""
lst1.append(elem)
for i in range(len(lst1)):
  lst1[i]=int(lst1[i])
print("Input list: "+str(lst1))
lst2=[]
for i in range(len(lst1)):
  if lst1[i] not in lst2:
    lst2.append(lst1[i])
print("Modified list: "+str(lst2))

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#TASk-10
var=input()
var=var.split(", ")
for i in range(len(var)):
  var[i]=int(var[i])
lst1=[]
for i in range(len(var)):
  if var[i] not in lst1:
    lst1.append(var[i])
print(var)
print(lst1)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#TASK-11
var1=input("List_one : ")
var2=input("List_two : ")
var1=var1[1:len(var1)-1:]
var2=var2[1:len(var2)-1:]
lst1=var1.split(", ")
lst2=var2.split(", ")
for i in range(len(lst1)):
  lst1[i]=int(lst1[i])
for i in range(len(lst2)):
  lst2[i]=int(lst2[i])
flag=False
for i in range(len(lst1)):
  if lst1[i] in lst2:
    flag=True
    break
print(flag)

List_one : [1, 4, 3, 2, 5]
List_two : [8, 7, 5, 9]
True

In [ ]:
#TASK-12
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
      myList[index1] = myList[index1] + myList[index2]-index1
      index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

In [ ]:
#TASK-13
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [ ]:
#TASK-14
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
#TASK-15
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

In [ ]:
#CW
var="Bangladesh"
for idx in range(len(var)):
  print(var[idx],end="")
print()
for idx in range(len(var)-1,-1,-1):
  print(var[idx],end="")
print()
lst1=[]
for idx in range(len(var)):
  lst1.append(var[idx])
print(lst1)
lst2=[]
for idx in range(len(lst1)-1,-1,-1):
  lst2.append(lst1[idx])
print(lst2)

Bangladesh
hsedalgnaB
['B', 'a', 'n', 'g', 'l', 'a', 'd', 'e', 's', 'h']
['h', 's', 'e', 'd', 'a', 'l', 'g', 'n', 'a', 'B']

In [ ]:
#TASK-17
var=input() #7, 13, -5, 10, 6
var=var.split(", ")
lst1=[]
for i in var:
  lst1.append(int(i))
for x in range(len(lst1)):
  mx=lst1[x]
  mn=lst1[x]
  break
for y in range(len(lst1)):
  if lst1[y]>mx:
    mx=lst1[y]
    m=y
  if lst1[y]<mn:
    mn=lst1[y]
    n=y
print("Smallest number in the list is {} which was found at index {}".format(mn,n))
print("Largest number in the list is {} which was found at index {}".format(mx,m))

7, 13, -5, 10, 6
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
#TASK-18
var1=input()
var2=input()
var1=var1.split(", ")
var2=var2.split(", ")
lst1=[]
for i in var1:
  if i in var2:
    lst1.append(i)
print(lst1)

1, 3, A, H, P
A, G, 1, P, O
['1', 'A', 'P']

In [ ]:
#TASK_19
lst1= [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
lst2= [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
lst3=[]
for i in lst1:
  if i not in lst3:
    lst3.append(i)
for i in lst2:
  if i not in lst3:
    lst3.append(i)
print(lst3)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]