<a href="https://colab.research.google.com/github/rafitboo/Introduction-to-python/blob/main/Lab%20Assignmennts/lab7(functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TASK-1
def even_checker(num):
  if num%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(int(input()))

7
Odd!!

In [ ]:
#TASK-1r
def even_checker(n):
  if n%2==0:
    return "Even!!"
  else:
    return "Odd!!"
num=int(input())
print(even_checker(num))

6
Even!!

In [ ]:
#TASK-2
def fibonacci(num):
  a=0
  b=1
  print(a,end=' ')
  print(b,end=' ')
  while a+b<=num:
    c=a+b
    print(c, end=' ')
    a=b
    b=c
fibonacci(int(input()))

1
0 1 1

In [ ]:
def fibonacci(num):
  a=0
  b=1
  print(a,end=" ")
  print(b,end=" ")
  while a+b<=num:
    c=a+b
    print(c,end=" ")
    a=b
    b=c
fibonacci(5)

0 1 1 2 3 5

In [ ]:
#TASK-3
def foo_moo(n):
  if n%2==0 and n%3==0:
    print("FooMoo")
  elif n%2==0:
    print("Foo")
  elif n%3==0:
    print("Moo")
  else:
    print("Boo")
foo_moo(int(input("Enter a number : ")))

Enter a number : 6
FooMoo

In [ ]:
#TASK-3r
def foo_moo(n):
  if n%2==0 and n%3==0:
    return "FooMoo"
  elif n%2==0:
    return "Foo"
  elif n%3==0:
    return "Moo"
  else:
    return "Boo"
n=int(input("Enter a number : "))
var=foo_moo(n)
print(var)

Enter a number : 8
Foo

In [ ]:
#TASK-4
def oplow(var):
  count1=0
  count2=0
  for i in range(len(var)):
    if 65<=ord(var[i])<=90:
      count1+=1
    if 97<=ord(var[i])<=122:
      count2+=1
  print(f"No. of uppercase characters : {count1}")
  print(f"No. of lowercase characters : {count2}")
var=input()
oplow(var)

HELLo
No. of uppercase characters : 4
No. of lowercase characters : 1

In [ ]:
def oplow(var):
  count1=0
  count2=0
  for i in range(len(var)):
    if 65<=ord(var[i])<=90:
      count1+=1
    if 97<=ord(var[i])<=122:
      count2+=1
  return count1,count2
var=input()
out=oplow(var)
x,y=out
print(x)
print(y)

HellO
2
3

In [ ]:
#TASK-5
def cal_tax(age,salary,job):
  if age<18 or job=="president" or salary<10000:
    return 0
  elif 10000<salary<20000:
    return salary*0.05
  elif salary>20000:
    return salary*0.1
age=int(input("Age :"))
salary=int(input("Salary :"))
job=input("job :")
job=job.lower()
var=cal_tax(age,salary,job)
print(var)

Age :20
Salary :22000
job :president
0

In [ ]:
#TASK-6
def time(num):
  yy=num//365
  rem1=num%365
  mm=rem1//30
  dd=rem1%30
  print(f"{yy} years, {mm} months and {dd} days")
time(int(input("Days : ")))

Days : 4330
11 years, 10 months and 15 days

In [ ]:
#TASK-6
def time(num):
  yy=num//365
  rem1=num%365
  mm=rem1//30
  dd=rem1%30
  return yy, mm, dd
var=time(int(input("Days:")))
x,y,z=var
print(f"{x} years, {y} months and {z} days")

Days:4330
11 years, 10 months and 15 days

In [ ]:
#TASK-7 lab
def show_palindrome(num):
  var=''
  for i in range(1,num+1,1):
    var+=str(i)
  for i in range(num-1,0,-1):
    var+=str(i)
  return var
num=int(input("Enter a number : "))
print(show_palindrome(num))

Enter a number : 10
12345678910987654321

In [ ]:
#TASK-7
def show_palindrome(num):
  var=''
  for i in range(1,num+1,1):
    var+=str(i)
  for i in range(num-1,0,-1):
    var+=str(i)
  return var
num=int(input("Enter a number : "))
print(show_palindrome(num))

Enter a number : 5
123454321

In [ ]:
#TASK-8
def show_palindrome(num):
  var=''
  for i in range(1,num+1,1):
    var+=str(i)
  for i in range(num-1,0,-1):
    var+=str(i)
  return var
def show_palindrome_triangle(row):
  for i in range(1,row+1):
    for j in range(1,row+1-i):
      print(" ",end="")
    print(show_palindrome(i))
    print()
show_palindrome_triangle(5)

    1

   121

  12321

 1234321

123454321

In [ ]:
#TASK-8
def palin(num):
  a=""
  for i in range(1,num+1):
    a+=str(i)
  b=a+a[-2::-1]
  return b
def palintri(num):
  for row in range(1,num+1):
    for hash in range(1,num+1-row):
      print(" ",end="")
    print(palin(row))
    print()
palintri(5)

    1

   121

  12321

 1234321

123454321

In [ ]:
#TASK-9
import math
def area_circumference_generator(radius):
  area=math.pi*radius**2
  ccf=2*math.pi*radius
  var=[]
  var.append(area)
  var.append(ccf)
  var=tuple(var)
  print(var)
  x,y=var
  print(f"Area of the circle is {x} and circumference is {y}")
area_circumference_generator(int(input("Radius : ")))

Radius : 1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#TASK-9 lab
import math
def area_circumference_generator(rad):
  area=math.pi*rad**2
  ccf=2*math.pi*rad
  var=(area,ccf)
  return var
rad=int(input("Radius : "))
a,b=area_circumference_generator(rad)
var=(a,b)
print(var)
print(f"Area of the circle is {a} and circumference is {b}")

Radius : 1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#TASK-10
def make_square(var):
  dict1={}
  for i in range(var[0],var[1]+1,1):
    dict1.update({i:i**2})
  return dict1
var=make_square((5,9))
print(var)

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#TASK-11
def rem_duplicate(num):
  lst=[]
  for i in num:
    if i not in lst:
      lst.append(i)
  lst=tuple(lst)
  return lst
num=("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])
print(rem_duplicate(num))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#TASK-12
#def func(lst):
lst=[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
lst1=lst.copy()
for i in lst:
  count=lst.count(i)
  if count>2:
    lst.pop(i)
print(lst)
print(len(lst1)-len(lst))

[1, 2, 3, 3, 4, 5, 8, 8]
2

In [ ]:
#TASK-12
def func(lst1):
  lst2=lst1.copy()
  for i in lst1:
    count=lst1.count(i)
    if count>2:
      lst1.pop(i)
  rem=len(lst2)-len(lst1)
  print(lst1)
  print(f"Removed : {rem}")
lst1=[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
func(lst1)

[1, 2, 3, 3, 4, 5, 8, 8]
Removed : 2

In [ ]:
#TASK-13
def calculate(op,fo,so):
  if op=="+":
    return fo+so
  if op=="-":
    return fo-so
  if op=="/":
    return fo/so
  if op=="*":
    return fo*so
op=input("Operator : ")
fo=float(input("First operand : "))
so=float(input("Second operand : "))
print(calculate(op,fo,so))

Operator : /
First operand : 20
Second operand : 10
2.0

In [ ]:
#TASK_14 new
def func(stg,num):
  var1=""
  var2=""
  for i in range(len(stg)):
    if i==0:
      continue
    if i%num!=0:
      var1+=stg[i]
    else:
      var2+=stg[i]
  return stg[0]+var1+var2
stg=input()
num=int(input())
print(func(stg,num))

I love programming
3
I lveprgrmmngo oai

In [ ]:
#14
def func(stg,num):
  var1=stg[0]
  var2=""
  for i in stg:
    if stg.index(i)%num==0:
      if stg.index(i)==0:
        continue
      else:
        var2+=i
    else:
      var1+=i
  return var1+var2
stg=input()
num=int(input())
print(func(stg,num))

I love programming.
3
I lve prgrmmngooai.

In [ ]:
#TASK-15
def grocery_summation(items,location="Dhanmondi"):
  dict1={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  sum=0
  for i in range(len(items)):
    if items[i] in dict1.keys():
      sum+=dict1[items[i]]
  if location=="Dhanmondi":
    sum+=30
  else:
    sum+=70
  return sum
items=["Rice", "Beef", "Rice"]
print(grocery_summation(items))

750

In [ ]:
#16
def splitting_money(num):
  fivhund=num//500
  if fivhund!=0:
    print(f"500 TK : {fivhund} Note(s)")
  rem1=num%500
  hund=rem1//100
  if hund!=0:
    print(f"100 TK : {hund} Note(s)")
  rem2=rem1%100
  fifty=rem2//50
  if fifty!=0:
    print(f"50 TK : {fifty} Note(s)")
  rem3=rem2%50
  twen=rem3//20
  if twen!=0:
    print(f"20 TK : {twen} Note(s)")
  rem4=rem3%20
  ten=rem4//10
  if ten!=0:
    print(f"10 TK : {ten} Note(s)")
  rem5=rem4%10
  five=rem5//5
  if five!=0:
    print(f"5 TK : {five} Note(s)")
  rem6=rem5%5
  two=rem6//2
  if two!=0:
    print(f"2 TK : {two} Note(s)")
  rem7=rem6%2
  one=rem7//1
  if one!=0:
    print(f"1 TK : {one} Note(s)")
var=int(input("Amount : "))
splitting_money(var)

Amount : 1000
500 TK : 2 Note(s)

In [ ]:
#17
def rem_odd(var):
  lst=[]
  for i in var:
    if i%2==0:
      lst.append(i)
  return lst
var=[11,2,3,4,5,2,0,5,3]
print(rem_odd(var))

[2, 4, 2, 0]

In [ ]:
#18
def fun(start,end,fst,sec):
  sum=0
  for i in range(start,end):
    if i%fst==0 and i%sec==0:
      continue
    if i%fst==0:
      sum+=i
    if i%sec==0:
      sum+=i
  return sum
start=int(input("Start : "))
end=int(input("End : "))
fst=int(input("First divisor : "))
sec=int(input("Second divisor : "))
var=fun(start,end,fst,sec)
print(var)

Start : 5
End : 11
First divisor : 5
Second divisor : 10
5

In [ ]:
#19
def fun(var):
  var=var.lower()
  store=97
  flag=True
  for i in range(10):
    if chr(store) in var:
      store+=1
    else:
      flag=False
      break
  if flag==True:
    print("lol"*5)
  else:
    print("lol"*6)
fun("ABBCDEFEFGHI")

lollollollollollol

In [ ]:
#20
def individul_bonus_calculation(name,earning,goals,bon):
  if goals>30:
    bonus=10000
  elif 20<=goals<=30:
    bonus=5000
  else:
    bonus=0
  total= int(goals*(bon/100*earning))+bonus
  print(f"{name} earned a bonus of {total} Taka for {goals} goals.")
individul_bonus_calculation("Neymar", 1200000, 35, 5)

Neymar earned a bonus of 2110000 Taka for 35 goals.